.skill {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    padding: 0;
    margin: 60px auto;
    background-color: #333;
    text-transform: uppercase;
    width: 840px;
    height: 610px;

}

.skill h2 {
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

.skill h3 {
    color: #fff;
    padding: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill li {
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(236, 19, 19)0%, rgb(13, 201, 44)100%);
}

.python {
    width: 90%;
    animation: python 3s;
}

.java {
    width: 100%;
    animation: java 3s;
}

.apex {
    width: 70%;
    animation: apex 3s;
}

.kotlin {
    width: 80%;
    animation: kotlin 3s;
}

.ssc {
    width: 100%;
    animation: ssc 3s;
}